// Typography Styling

body {
    font-family: $bodyFont;
    font-weight: 400;
}

 h2, h3, h4 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    color: #555555;
}

h1 {
    font-family: $headingFont;
    font-weight: 700;
}