// Typography Styling

body {
    font-family: $bodyFont;
    font-weight: 400;
}

 h2, h3, h4 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    color: #555555;
}

h1 {
    font-family: $headingFont;
    font-weight: 700;
}

.splash-text h1 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.4em;
}

nav a {
    font-family: $headingFont;
    font-weight: 400;
}

// Section 2
.customize-order-section h2 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.3em;
}

.customize-order-section p {
    font-family: $bodyFont;
    font-weight: 500;
    //text-transform: uppercase;
    font-size: 1.2em;
}

.machine-01 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}

.machine-02 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}

.machine-03 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}

.machine-04 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}

//---------------------Section 3
.product-selection {
    h2 {
        color: white;
        text-align: center;
        letter-spacing: -0.75px;
        //padding-top: 50px;
        font-size: 1.9em;
    }
    p {
        color: white;
        text-align: center;
        letter-spacing: -0.75px;
        //padding: 15px;
        font-size: 18px;
    }
}

.section3-button {
    font-size: 1.1em;
}

.form-group label {
    font-family: $headingFont;
    color: white;
    font-weight: 700;
    letter-spacing: -0.75px;
    font-size: 16px;
}

//---------------------Section 4
/*
@media (min-width: 1300px) {
    .section
    h2{
        //text-align: center;
        color: white;
        font-size: 5em;
    }

}
*/






/* 
---------------------------------------
Media Query
---------------------------------------
*/
/*--- Mobile ---*/
@media (min-width: $mobileMedium) {
  
}


/*--- Tablet ---*/
@media (min-width: $tabletSmall) {
    
}

@media (min-width: 850px) {
    //--- Section 2
    // Header Font
    .customize-order-section h2 {
        color: $blueDark;
    }
    // Machine 01
    .machine-01 h3 {
        color: $footerblue;
    }
    .machine-01 a {
        text-transform: none;
        font-family: $bodyFont;
        color: grey;
        font-size: 0.7em;
    }
    // Machine 02
    .machine-02 h3 {
        color: $footerblue;
        text-align: center;
    }
    .machine-02 a {
        text-transform: none;
        font-family: $bodyFont;
        color: grey;
        font-size: 0.7em;
    }
    // Machine 03
    .machine-03 h3 {
        color: $footerblue;
    }
    .machine-03 a {
        text-transform: none;
        font-family: $bodyFont;
        color: grey;
        font-size: 0.7em;
    }
    // Machine 04
    .machine-04 h3 {
        color: $footerblue;
    }
    .machine-04 a {
        text-transform: none;
        font-family: $bodyFont;
        color: grey;
        font-size: 0.7em;
    }
    
    //---------------------Section 3
    .product-selection {
        padding-top: 0px;
        margin-top: 0px;
            h2 {
                padding-top: -10px;
            }
        p {
            color: $footerblue;
        }
    }
}


/*--- Desktop ---*/
@media (min-width: $desktopSmall) {
    header {

    .splash-text {
        font-size: 1.2em;

    }

}

}

@media (min-width: 1400px) {
    header {
        .splash-text {
            font-size: 1.8em;
        }

        .header-button {
            font-size: 0.8em;

        }
    }

    .customize-order-section p {
        font-size: 1em;
        font-weight: 400;
        margin-left: 250px;
        margin-right: 250px;
    }

}