// Typography Styling

body {
    font-family: $bodyFont;
    font-weight: 400;
}

 h2, h3, h4 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    color: #555555;
}

h1 {
    font-family: $headingFont;
    font-weight: 700;
}

.splash-text h1 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.4em;
}

nav a {
    font-family: $headingFont;
    font-weight: 400;
}

// Section 2
.customize-order-section h2 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.3em;
}

.customize-order-section p {
    font-family: $bodyFont;
    font-weight: 500;
    //text-transform: uppercase;
    font-size: 1.2em;
}

.machine-01 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}

.machine-02 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}

.machine-03 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}

.machine-04 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}





/* 
---------------------------------------
Media Query
---------------------------------------
*/
/*--- Mobile ---*/
@media (min-width: $mobileMedium) {
  
}


/*--- Tablet ---*/
@media (min-width: $tabletSmall) {
    
}

@media (min-width: $tabletMedium) {
    

}

/*--- Desktop ---*/
@media (min-width: $desktopSmall) {
    header {

    .splash-text {
        font-size: 1.2em;

    }

}

}

@media (min-width: $desktopRegular) {

}