// Master Variables Page
/* 
------------------
Site Variables
------------------
*/
// --- Global Variables



/* 
------------------
Background Colors
------------------
*/
$blueDark: #244a64;
$blueMedium: #429bd6;
$blueLight: #bedcef;
$footerblue: #429cd7;
$navigationbar: #2b2e31;
$navBarHover: #4da4da;


/* 
------------------
Text Colors
------------------
*/

/* 
------------------
Fonts
------------------
*/

$headingFont: 'Roboto Condensed', sans-serif;
$bodyFont: 'Roboto', sans-serif;


/* 
------------------
Dimensions
------------------
*/
$siteWidth: 1300px;


/* 
------------------
/Breakpoints
------------------
*/
$mobileMedium: 500px;
$tabletSmall: 670px;
$tabletMedium: 700px;
$desktopSmall: 770px;
$desktopRegular: 1120px;