// Body Styling

// Contains Sections 4, 5, 6, and 7.
//      SECTION 4 : "About Us"
//      SECTION 5 : Video
//      SECTION 6 : Newsletter & Email Section Bar
//      SECTION 7 : "City Near You" and "Spec Vulcan" Banners

// -----------------------------------------------------------------------------
// SECTION 4 : "About Us"
.section-4 {
    background-image: url('/images/bg-section-about-us.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;

    h2 {
        text-align: center;
        padding-top: 40px;
        color: white;
        font-size: 2.3em;
        margin-left: 3%;
        margin-right: 3%;
    }

    p {
        text-align: center;
        padding: 30px 80px 60px 80px;
        color: white;
        font-size: 1.1em;
    }

    button {
        background-color: transparent;
        border: 2px solid white;
        padding: 13px 25px;
        margin-right: auto;
        margin-left: auto;
        color: white;
        font-family: $headingFont;
        font-size: 1.1em;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        display: -webkit-flex;
    }

    // MEDIA QUERY : SECTION 3
    @media (min-width: $tabletMedium) {
        h2 {
            text-align: center;
            color: white;
            font-size: 3.2em;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 0px;
        }
        p {
            text-align: center;
            padding: 30px 15% 60px 15%;
            color: white;
            font-size: 1.3em;
            padding-left: 200px;
            padding-right: 200px;
        }
    }

    @media (min-width: $desktopRegular) {
        .section-4 {
            padding-top: 300px;
            padding-bottom: 300px;
        }
        h2 {
            padding-left: 25%;
            padding-right: 25%;
            font-size: 3em;
        }
        p {
            text-align: center;
            padding: 30px 30% 40px 30%;
            color: white;
            font-size: 1.1em;
        }
        button {
            font-size: 1.1em;
        }
    }
}

// -----------------------------------------------------------------------------
// SECTION 5 : Video
.video-container {
    position: relative;
    background-color: #429bd6;
    width: 100%;
    height: 500px;
}

iframe {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    max-width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border: blue 3px solid;
    background-color: green;

    // MEDIA QUERY: SECTION 4
    @media (min-width: $tabletMedium) {
        .video-container {
            position: relative;
            background-color: #429bd6;
            width: 100%;
            height: 700px;
        }
        iframe {
            width: 70%;
        }
    }
}
// -----------------------------------------------------------------------------
// SECTION 6 : Newsletter & Email Section Bar
.newsletter-section {
    background-color: #bedcef;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    h4 {
        text-align: center;
        text-transform: none;
        letter-spacing: -0.75px;
        font-family: $bodyFont;
        font-size: 1.45em;
        font-weight: 500;
        color: $blueDark;
        padding-bottom: 25px;
    }
    
    // label, input, button
    .newsletter-group {
        text-align: center;
    }

    .form-group input {
        border: none;
        padding: 10px 10px 10px 10px;
        width: 300px;
        height: 2.5em;
    }

    .form-group button {
        background-color: #429bd6;
        border: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: -0.75px;
        font-size: 1.3em;
        font-weight: 700;
        padding: 5.5px 20px 5.5px 20px;
        margin-left: 5px;
        height: 1.90em;
    }

    // MEDIA QUERY : SECTION 5
    // mina: h4 and form need to be on one line for both tablet and desktop.
    @media (min-width: $tabletMedium) {
        
        .newsletter-section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 20%;
        }

        

       
    }
    @media (min-width: $desktopRegular) {

    }
}

// -----------------------------------------------------------------------------
// SECTION 7 : "City Near You" and "Spec Vulcan" Banners
    // "installed in a city near you. find a vulcan install"
    .map {
        background-image: url('/images/map.jpg');
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        padding-bottom: 40%;
        padding-top: 30%;

        h5 {
            text-align: center;
            color: #504f4f;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-size: 2em;
            font-weight: 700;
            padding-bottom: 20px;
            padding-left: 13%;
            padding-right: 13%;
        }

        button {
            font-family: $headingFont;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-weight: 700;
            background-color: transparent;
            color: #504f4f;
            border: 2px solid #504f4f;
            padding: 13px 25px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            text-decoration: none;
            font-size: 1.4em;
            cursor: pointer;
            display: -webkit-flex;
        }
    }

    // "ready to spec vulcan for your project? contact us"
    .contact {
        background-color: #154a66;
        padding-top: 20%;
        padding-bottom: 40%;

        h5 {
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-size: 2em;
            font-weight: 700;
            padding-bottom: 20px;
            padding-left: 13%;
            padding-right: 13%;
        }

        button {
            font-family: $headingFont;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-weight: 700;
            background-color: transparent;
            color: #ffffff;
            border: 2px solid #ffffff;
            padding: 13px 25px;
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            text-decoration: none;
            font-size: 1.4em;
            cursor: pointer;
            display: -webkit-flex;
        }
    }

    // MEDIA QUERY : SECTION 7
    @media (min-width: $tabletMedium){
        .sixth-section-container {
            display: flex;
            height: 400px;
        }
        .contact {
            order: 1;
            max-height: 100px;
            width: 100%;
            padding-top: 70px;
            
            button {
                background-color: $footerblue;
            }
        }
        .map {
            order: 2;
            max-height: 100px;
            width: 100%;
            padding-top: 100px;
            padding-bottom: none;
       


            button {
                background-color: $footerblue;
                color: white;
                border: white;
            }
        }
    }
    @media (min-width: $desktopRegular) {
        .sixth-section-container {
            display: flex;
        }
        .map {
            order: 2;
            height: 100px;
            button {
                background-color: $footerblue;
                color: white;
                border: white;
            }
        }
        .contact {
            order: 1;
            height: 100px;
            button {
                background-color: $footerblue;
            }
        }
    }