// Body Styling

// Contains Sections 4, 5, 6, and 7.
//      SECTION 4 : "About Us"
//      SECTION 5 : Video
//      SECTION 6 : Newsletter & Email Section Bar
//      SECTION 7 : "City Near You" and "Spec Vulcan" Banners

// -----------------------------------------------------------------------------
// SECTION 4 : "About Us"
.section-4 {
    background-image: url('/images/bg-section-about-us.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 100px 0px 100px 0px;

    h2 {
        text-align: center;
        color: white;
        font-size: 2.3em;
        padding: 40px 0px 0px 0px;
        margin-left: 3%;
        margin-right: 3%;
    }

    p {
        text-align: center;
        color: white;
        padding: 30px 80px 60px 80px;
        font-size: 1.1em;
    }

    button {
        color: white;
        background-color: transparent;
        border: 1.5px solid white;
        font-family: $headingFont;
        font-size: 1.1em;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding: 13px 25px;
        margin-right: auto;
        margin-left: auto;
        cursor: pointer;
        display: -webkit-flex;
    }

    @media (min-width: $tabletMedium) {
        h2 {
            text-align: center;
            color: white;
            font-size: 3.2em;
            padding: 0px 10% 0px 10%;
        }
        p {
            text-align: center;
            color: white;
            font-size: 1.3em;
            padding: 30px 15% 60px 15%;
        }
    }

    @media (min-width: $desktopRegular) {
            padding: 200px 0px 200px 0px;

        h2 {
            font-size: 3.4em;
            padding: 0px 20% 0px 20%;
        }

        p {
            text-align: center;
            color: white;
            font-size: 1.1em;
            padding: 50px 26% 50px 26%;
        }

        button {
            font-size: 1.1em;
            margin-top: 20px;
            padding: 10px 40px 10px 40px;
            border: 1.5px solid white;
        }
    }

    @media (min-width: 1400px) {
            padding: 200px 0px 200px 0px;
    }
}

// -----------------------------------------------------------------------------
// SECTION 5 : Video
.section-05 {
    padding: 75px;
    background-color: #429bd6;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 59.25%;
    height: 0;
    margin: 0 auto;
}

iframe {
    display: block;
    position: absolute;
    border: #154a66 20px solid;
    background-color: darkgreen;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 800px) {
    .section-05 {
        padding: 80px 120px;
    }
}



// -----------------------------------------------------------------------------
// SECTION 6 : Newsletter & Email Section Bar
.newsletter-section {
    background-color: #bedcef;
    // additional header div wrapper needed to center
    .newsletter-header h4 {
        color: $blueDark;
        text-align: center;
        text-transform: none;
        letter-spacing: -0.75px;
        font-family: $bodyFont;
        font-size: 1.5em;
        font-weight: 500;
        padding: 30px 0px 25px 0px;
    }
    // additional input & submit div wrapper needed to center
    .input-wrapper {
        text-align: center;
        width: 100%;
        padding: 0px 0px 30px 0px;
    }
    .newsletter-form input {
        float: center;
        border: none;
        width: 70%;
        padding: 8px 8px 8px 8px;
        margin: 0px 5px 0px 5px;
    }
    .newsletter-form button {
        background-color: #6a9bbb;
        border: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: -0.75px;
        font-size: 1.3em;
        font-weight: 700;
        padding: 5.5px 20px 5.5px 20px;
        margin-left: 5px;
    }
    @media (min-width: $tabletMedium) {
        // display wrap and display inline-flex needed to make divs into single line
        .newsletter-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 0px 3px 0px 3px;
        }
        // smaller h4 in tablet, margin-right added
        .newsletter-header h4 {
            font-size: 1.2em;
            margin-right: 10px;
        }
        .input-wrapper {
            padding: 0px 0px 0px 0px;
        }
        .newsletter-header {
            display: inline-flex;
        }
        .newsletter-form {
            display: inline-flex;
        }
        // input width is increased in tablet mode
        .newsletter-form input {
            width: 220px;
        }
        .newsletter-form button {
            font-size: 1em;
            padding: 8px 20px 8px 20px;

        }
    }
    @media (min-width: $desktopRegular) {
        // increased margin-right in desktop
        .newsletter-header h4 {
            font-size: 1.25em;
            margin-right: 20px;
        }
        // input width is increased even more in desktop mode
        .newsletter-form input {
            width: 400px;
        }
    }
}

// -----------------------------------------------------------------------------
// SECTION 7 : "City Near You" and "Spec Vulcan" Banners
    .map {
        background-image: url('/images/map.jpg');
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        padding: 150px 0px 150px 0px;
        
        h5 {
            text-align: center;
            color: #504f4f;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-size: 2em;
            font-weight: 700;
            padding: 0px 13% 20px 13%;
        }
        button {
            font-family: $headingFont;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-weight: 700;
            background-color: transparent;
            color: #504f4f;
            border: 2px solid #504f4f;
            padding: 13px 25px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            text-decoration: none;
            font-size: 1.4em;
            cursor: pointer;
            display: -webkit-flex;
        }
    }

    .contact {
        background-color: #154a66;
        padding: 120px 0px 180px 0px;

        h5 {
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-size: 2em;
            font-weight: 700;
            padding: 0px 13% 20px 13%;
        }

        button {
            font-family: $headingFont;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-weight: 700;
            background-color: transparent;
            color: #ffffff;
            border: 2px solid #ffffff;
            padding: 13px 25px;
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            text-decoration: none;
            font-size: 1.4em;
            cursor: pointer;
            display: -webkit-flex;
        }
    }

    @media (min-width: $tabletMedium){
        .sixth-section-container {
            display: flex;
        }
        .contact {
            order: 1;
            height: 500px;
            width: 100%;
            padding-top: 70px;

            h5 {
                padding-top: 50px;
            }
            button {
                background-color: $footerblue;
            }
        }
        .map {
            order: 2;
            height: 500px;
            width: 100%;
            padding: 150px 0px 150px 0px;

            button {
                background-color: $footerblue;
                color: white;
                border: white;
            }
        }
    }
    @media (min-width: $desktopRegular) {
        .sixth-section-container {
            display: flex;
        }
        .map {
            order: 2;
            height: 500px;

            button {
                background-color: $footerblue;
                color: white;
                border: white;
            }
        }
        .contact {
            order: 1;
            height: 500px;

            button {
                background-color: $footerblue;
            }
        }
    }