// Body Styling

// Contains Sections 4, 5, 6, and 7.
//      SECTION 4 : "About Us"
//      SECTION 5 : Video
//      SECTION 6 : Newsletter & Email Section Bar
//      SECTION 7 : "City Near You" and "Spec Vulcan" Banners

// -----------------------------------------------------------------------------
// Section 2 Code moved to _main.scss.

/*
// SECTION 2 : CUSTOMIZED PER ORDER
.white-background {
    a {
        display: none;
    }
    padding-top: 50px;
    padding-bottom: 50px;

    @media (min-width: $tabletMedium) {
        a {
            display: block;
        }
    }
}

.customize-order-section {
    h2 {
        text-align: center;
        top: -10px;
    }

    p {
        text-align: center;
        padding-top: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

// Images Sizing for each machine
.machine-01, 
.machine-02, 
.machine-03,
.machine-04 {
    display: flex;

}

// Machine 01
.machine-01 h3 {
    margin-top: 57%;
    margin-right: 60px;
}

.machine-01 img {
    margin-top: 20px;
}

// Machine 02
.machine-02 h3 {
    margin-top: 33%;
    margin-right: 44px;
}

.machine-02 img {
    width: 75%;
    height: auto;
    margin-left: 60px;
}

// Machine 03
.machine-03 h3 {
    margin-top: 45%;
    margin-right: 50px;
}

.machine-03 img {
    width: 73%;
    height: auto;
    margin-left: 60px;
}

// Machine 04
.machine-04 h3 {
    margin-top: 33%;
    margin-right: 50px;
}

.machine-04 img {
    width: 73%;
    height: auto;
    margin-left: 60px;
}

.br-section2 {
    border-top: 2px solid #cccccc;
    margin: 20px;
}

.customized-section {

    @media (min-width: $tabletMedium) {
    display: flex;
    flex-direction: row;

    // Hide the divider line
    .br-section2 {
        display: none;
    }

    // Machine 01
    .machine-01 {
        display: flex;
        flex-direction: column;
    }

    .machine-01 img {
        width: 200px;
        margin-top: 30px;
    }

    .machine-01 h3 {
        margin-top: 10%;
        margin-left: 45px;
    }

    .machine-01 a {
        text-align: center;
        margin-right: 15px;
        margin-top: 35px;
    }

    // Machine 02
    .machine-02 {
        display: flex;
        flex-direction: column;
    }

    .machine-02 img {
        width: 170px;
        height: auto;
        margin-top: 20px;
        margin-left: 0px;
    }

    .machine-02 h3 {
        margin-top: 28%;
        margin-right: 60px;
    }

    .machine-02 a {
        text-align: center;
        margin-top: 5px;
        margin-right: 60px;
    }

    // Machine 03
    .machine-03 {
        display: flex;
        flex-direction: column;
    }
    .machine-03 h3 {
        margin-top: 45%;
        margin-right: 50px;
    }

    .machine-03 img {
        width: 73%;
        height: auto;
        margin-left: 60px;
    
    }

    // Machine 04
    .machine-04 {
        display: flex;
        flex-direction: column;
    }
    .machine-04 h3 {
        margin-top: 33%;
        margin-right: 50px;
    }

    .machine-04 img {
        width: 73%;
        height: auto;
        margin-left: 60px;
    }


    }
}
*/
// -----------------------------------------------------------------------------
// SECTION 4 : "About Us"
.section-4 {
    background-image: url('/images/bg-section-about-us.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 30%;
    padding-top: 30%;

    h2 {
        text-align: center;
        padding-top: 40px;
        color: white;
        font-size: 2.5em;
    }

    p {
        text-align: center;
        padding: 30px 80px 40px 80px;
        color: white;
        font-size: 1.3em;
    }

    button {
    font-family: $headingFont;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 13px 25px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
    display: -webkit-flex;
    }

    // MEDIA QUERY : SECTION 3
    @media (min-width: $tabletMedium) {
        h2 {
            text-align: center;
            color: white;
            font-size: 3.2em;
            padding:20px;
        }
    
        p {
            text-align: center;
            padding: 30px 30px 30px 30px;
            color: white;
            font-size: 1.3em;
        }
    }

    @media (min-width: $desktopRegular) {
        p {
            text-align: center;
            padding: 30px 150px 40px 150px;
            color: white;
            font-size: 1.3em;
        }
    }
}

// -----------------------------------------------------------------------------
// SECTION 5 : Video
.video-container {
    position: relative;
    background-color: #429bd6;
    width: 100%;
    height: 500px;
}

iframe {
    position: absolute;
    top:50px;
    right: 0;
    left: 0;
    width: 80%;
    height: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    // MEDIA QUERY: SECTION 4
    @media (min-width: $tabletMedium) {

        iframe {
            width: 70%;
        }

        .video-container {
            position: relative;
            background-color: #429bd6;
            width: 100%;
            height: 700px;
        }
    }

}

    /*
    .video {
        max-width: 65%;
        display:block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border: 20px solid #154a66;
        background-color: #367d22;
    }
    */

// -----------------------------------------------------------------------------
// SECTION 6 : Newsletter & Email Section Bar
.newsletter-section {
    background-color: #bedcef;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    h4 {
        text-align: center;
        text-transform: none;
        letter-spacing: -0.75px;
        font-family: $bodyFont;
        font-size: 1.5em;
        font-weight: 500;
        color: $blueDark;
    }
    
    // label, input, button
    .newsletter-group {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        
    }

    .form-group input {
        border: none;
        padding: 10px 10px 10px 10px;
        width: 70%;
        height: 2.5em;
    }

    .form-group button {
        background-color: #429bd6;
        border: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: -0.75px;
        font-size: 1.3em;
        font-weight: 700;
        padding: 5.5px 20px 5.5px 20px;
        margin-left: 5px;
        height: 1.90em;
    }

    // MEDIA QUERY : SECTION 5
    @media (min-width: $tabletMedium) {
        .newsletter-section {
            display: flex;
        }
        .newsletter-header {
            order: 1;
        }
        .newsletter-group {
            order: 2;
        }
/*         display: flex;
        flex-direction: row;

        h4 {
            text-align: center;
            text-transform: none;
            letter-spacing: -0.75px;
            font-family: $bodyFont;
            font-size: 1.2em;
            font-weight: 400;
            color: $blueDark;
        }

        .newsletter-section {
            display: flex;
            background-color: #bedcef;
        }    

        .form-group .newsletter-group {
            margin:0;
        }
    } */
    }
    @media (min-width: $desktopRegular) {
        .newsletter-section {
            display: flex;
        }
        .newsletter-header {
            order: 1;
        }
        .newsletter-group {
            order: 2;
        }
    }
}

// -----------------------------------------------------------------------------
// SECTION 7 : "City Near You" and "Spec Vulcan" Banners
    // "installed in a city near you. find a vulcan install"
    .map {
        background-image: url('/images/map.jpg');
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        padding-bottom: 30%;
        padding-top: 30%;

        h5 {
            text-align: center;
            color: #504f4f;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-size: 2em;
            font-weight: 700;
            padding-bottom: 20px;
        }

        button {
            font-family: $headingFont;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-weight: 700;
            background-color: transparent;
            color: #504f4f;
            border: 2px solid #504f4f;
            padding: 13px 25px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            text-decoration: none;
            font-size: 1.5em;
            cursor: pointer;
            display: -webkit-flex;
        }
    }

    // "ready to spec vulcan for your project? contact us"
    .contact {
        background-color: #154a66;
        padding-top: 20%;
        padding-bottom: 40%;

        h5 {
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-size: 2em;
            font-weight: 700;
            padding-bottom: 30px;
            padding-top: 0;
            padding-left: 13%;
            padding-right: 13%;
        }

        button {
            font-family: $headingFont;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            font-weight: 700;
            background-color: transparent;
            color: #ffffff;
            border: 2px solid #ffffff;
            padding: 13px 25px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            text-decoration: none;
            font-size: 1.4em;
            cursor: pointer;
            display: -webkit-flex;
        }
    }

    // MEDIA QUERY : SECTION 7
    @media (min-width: $tabletMedium){
        .sixth-section-container {
            display: flex;
        }
        .map {
            order: 2;
            max-height: 120px;
            width: 100%;
            padding-top: 200px;
            padding-bottom: none;
            //padding-bottom: 30px;
            button {
                background-color: $footerblue;
                color: white;
                border: white;
            }
        }
        .contact {
            order: 1;
            max-height: 120px;
            width: 100%;
            padding-top: 100px;
            //padding-bottom: 30px;
            button {
                background-color: $footerblue;
            }
        }
    }
    @media (min-width: $desktopRegular) {
        .sixth-section-container {
            display: flex;
        }
        .map {
            order: 2;
            height: 100px;
            button {
                background-color: $footerblue;
                color: white;
                border: white;
            }
        }
        .contact {
            order: 1;
            height: 100px;
            button {
                background-color: $footerblue;
            }
        }
    }