// Footer Style Sheet

footer {
    background-color: $footerblue;
    z-index: 1;
    // Single line Vulcan Logo
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        padding-top: 20%;
        margin-bottom: 10%;
    }

    p {
        color: white;
    }
    // Six column grid box
    .footer-elements-container {
        display: grid;
        grid-template-columns: 6fr 6fr 5.5fr 2.5fr 5.5fr 2.5fr;
        height: 100%;
    }
    // Single line copyright sentence
    .footer-copy {
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }
}



