// Footer Style Sheet

footer {
    // wavy background image
    background-color: $footerblue;
    background-image: url('/dev/images/wave-blue-light.png');
    max-height: 500px;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    
    // Single line Vulcan Logo
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        padding-top: 20%;
        margin-bottom: 8%;
    }

    .grid-item p {
        color: white;
        font-weight: 500;
        font-size: 1.25em;
        text-transform: uppercase;
    }
    
    // Six column grid box
    .footer-elements-container {
        display: grid;
        grid-template-columns: 6fr 6fr 5.5fr 2.5fr 5.5fr 2.5fr;
        height: 100%;
    }
    
    // Single line copyright sentence
    .footer-copy {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.25em;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }
}



