// Footer Style Sheet

footer {
    position: relative;

    // wavy footer
     .light-blue-wave {
        position: absolute;
        width: 100%;
        height: 110px;
        top: -110px;
        left: 0px;
    } 
    .wave {
        max-height: 500fr;
        width: auto;
        background-color: $footerblue;
    }

    // mobile: single line Vulcan Logo
    .footer-vulcan-logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 200px;
        padding-top: 0px;
        margin-bottom: 25px;
    }

    // mobile: single line copyright sentence
    .footer-copy {
        color: white;
        letter-spacing: -1px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1em;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 35px;
    }

    // mobile: column flex
    .footer-elements-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 3%;
        padding-right: 3%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .flex-item {
        padding-left: 15px;
    }
    .flex-item p {
        color: white;
        letter-spacing: -1px;
        font-weight: 500;
        font-size: 1em;
        text-transform: uppercase;
    }

    // adjusting icon sizes
    .facebook {
        height: auto;
        width: 40px;
    }
    .linkedin {
        height: auto;
        width: 40px;
    }
    .phone {
        height: auto;
        width: 25px;
    }
    .email {
        height: auto;
        width: 25px;
    }
    .facebook-linkedin {
        display: flex;
        padding-right: 15px;
    }
// --------------------------------------------------
    // two lines: vulcan and contact on one line, copyright on second line
    @media (min-width: $tabletMedium) {
        .footer-vulcan-logo {
            padding-left: 10px;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
        .wave {
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 40px;
        }
        .footer-contact-and-copyright {
            margin-left: auto;
            margin-right: auto;
        }
        .footer-copy {
            padding: 0px;
            margin: 0px;
        }
        .footer-elements-container {
            padding: 0px;
            margin: 0px;
        }
        .facebook-linkedin {
            display: flex;
            padding-right: 35px;
        }
    }

// --------------------------------------------------
    // all on one line
    @media (min-width: $desktopRegular) {
        .footer-vulcan-logo {
            padding-left: 100px;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
        .wave {
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 5px;
        }
        .footer-contact-and-copyright {
            display: flex;
            margin-top: auto;
            padding-bottom: 20px;
        }
        .footer-copy {
            margin-top: auto;
            margin-bottom: auto;
            padding-left: 40px;

        }
        .footer-elements-container {
            padding: 0px;
            margin: 0px;
        }
        .facebook-linkedin {
            display: flex;
            padding-right: 30px;
        }
        .facebook {
            height: auto;
            width: 30px;
        }
        .linkedin {
            height: auto;
            width: 30px;
        }
        .email {
            height: auto;
            width: 20px;
        }
        .phone {
            height: auto;
            width: 20px;
        }
    }
}