// Header Style Sheet





/* 
---------------------------------------
Cycle Pager (For Slideshow)
---------------------------------------
*/
.cycle-pager {
    text-align: center;
    width: 100%;
    z-index: 500;
    position: absolute;
    bottom: 20px;
    overflow: hidden;
}

.cycle-pager span {
    font-family: Arial;
    font-size: 60px;
    width: 32px;
    height: 32px;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
}

.cycle-pager span.cycle-pager-active {
    color: $blueMedium;
}

.cycle-pager > * {
    cursor: pointer;
}
