// Main Styling

// Contains Sections 2 and 3.
//      SECTION 2 : CUSTOMIZED PER ORDER
//      SECTION 3 : PRODUCT ADVISOR

// -----------------------------------------------------------------------------
// SECTION 2 : CUSTOMIZED PER ORDER
.white-background {
    a {
        display: none;
    }
    padding-top: 50px;
    padding-bottom: 50px;

    @media (min-width: 850px) {
        a {
            display: block;
        }
    }
}

.customize-order-section {
    h2 {
        text-align: center;
        //top: -20px;
        margin-left: 150px;
        margin-right: 150px;
    }

    p {
        text-align: center;
        padding-top: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

// Images Sizing for each machine
.machine-01, 
.machine-02, 
.machine-03,
.machine-04 {
    display: flex;
}

// Machine 01
.machine-01 h3 {
    margin-top: 57%;
    margin-right: 60px;
}

.machine-01 img {
    margin-top: 20px;
}

// Machine 02
.machine-02 h3 {
    margin-top: 33%;
    margin-right: 44px;
}

.machine-02 img {
    width: 75%;
    height: auto;
    margin-left: 60px;
}

// Machine 03
.machine-03 h3 {
    margin-top: 45%;
    margin-right: 50px;
}

.machine-03 img {
    width: 73%;
    height: auto;
    margin-left: 60px;
}

// Machine 04
.machine-04 h3 {
    margin-top: 33%;
    margin-right: 50px;
}

.machine-04 img {
    width: 73%;
    height: auto;
    margin-left: 60px;
}

.br-section2 {
    border-top: 2px solid #cccccc;
    margin: 20px;
}

// Section 2 Media Query for Tablet / Desktop
.customized-section {
    // Phone --> Tablet
    @media (min-width: 650px) {
        // Machine 01
        .machine-01 h3 {
            margin-top: 90%;
            margin-right: 60px;
        }

        // Machine 02
        .machine-02 h3 {
            margin-top: 60%;
            margin-right: 44px;
        }

        // Machine 03
        .machine-03 h3 {
            margin-top: 60%;
            margin-right: 50px;
        }

        // Machine 04
        .machine-04 h3 {
            margin-top: 65%;
            margin-right: 50px;
        }
    }

    @media (min-width: 750px) {
        // Machine 01
        .machine-01 h3 {
            margin-top: 130%;
            margin-right: 60px;
        }

        // Machine 02
        .machine-02 h3 {
            margin-top: 90%;
            margin-right: 44px;
        }

        // Machine 03
        .machine-03 h3 {
            margin-top: 80%;
            margin-right: 50px;
        }

        // Machine 04
        .machine-04 h3 {
            margin-top: 80%;
            margin-right: 50px;
        }
    }

    // Tablet --> Desktop
    @media (min-width: 850px) {
        display: flex;
        flex-direction: row;

        .customize-order-section {
            br {
                display: none;
            }
        }

        // Hide the divider line
        .br-section2 {
            display: none;
        }

        // All Machine Flex Property
        .machine-01, 
        .machine-02, 
        .machine-03, 
        .machine-04 {
            display: flex;
            flex-direction: column;
        }

        // Machine 01
        .machine-01 {
            img {
                width: 85%;
                margin-top: 30px;
            }

            h3 {
                margin-top: 10%;
                margin-left: 45px;
            }

            a {
                text-align: center;
                margin-right: 15px;
                margin-top: 35px;
            }
        }

        // Machine 02
        .machine-02 {
            img {
                width: 90%;
                height: auto;
                margin-top: 35px;
                margin-left: -30px;
            }

            h3 {
                margin-top: 15%;
                margin-right: 60px;
            }

            a {
                text-align: center;
                margin-top: 5px;
                margin-right: 60px;
            }
        }

        // Machine 03
        .machine-03 {
            img {
                width: 98%;
                height: auto;
                margin-top: 35px;
                margin-left: -30px;
            }

            h3 {
                margin-top: 16%;
                text-align: center;
                margin-right: 70px;
            }

            a {
                text-align: center;
                margin-top: 5px;
                margin-right: 70px;
            }
        }

        // Machine 04
        .machine-04 {
            img {
                width: 90%;
                height: auto;
                margin-top: 30px;
                margin-left: 0px;
            }
            h3 {
                margin-top: 16%;
                text-align: center;
                margin-right: 70px;
            }

            a {
                text-align: center;
                margin-top: 5px;
                margin-right: 70px;
            }
        }
    }

    @media (min-width: 900px) {
        .machine-03 {
            h3 {
                margin-top: 10%;

            }
        }
        
    }

    @media (min-width: 950px) {
        .machine-01 {
            h3 {
                margin-top: 18%;

            }
        }
    }

    @media (min-width: 1070px) {
        .machine-01 {
            a {
                margin-left: -35px;

            }
        }
        
    }


    //Desktop Smaller Screen to larger screen
    @media (min-width: 1200px) {
        .machine-01 {
            h3 {
                margin-top: 20%;
                margin-left: 80px;
            }

                a {
                    margin-top: 50px;
                    margin-left: 10px;
                    margin-bottom: 30px;
                }
            }

        .machine-02 {
            h3 {
                margin-top: 16%;
                margin-right: 80px;
            }

            a {
                margin-top: 20px;
                margin-right: 80px;
                margin-bottom: 30px;
            }
        }

            .machine-03 {
                h3 {
                    margin-top: 9%;
                    margin-right: 100px;
                }

                a {
                    margin-top: 18px;
                    margin-right: 100px;
                    margin-bottom: 30px;
                }
            }

            .machine-04 {
                h3 {
                    margin-top: 16%;
                    margin-right: 100px;
                }

                a {
                    margin-top: 18px;
                    margin-right: 100px;
                    margin-bottom: 30px;
                }
            }

        }

    @media (min-width: 1400px) {
        .machine-01 {
            a {
                margin-top: 50px;
                margin-left: -70px;
                margin-bottom: 50px;
            }
        }
    }
}

// -----------------------------------------------------------------------------
// SECTION 3 : PRODUCT ADVISOR

// background
.dark-blue-wave {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid $blueDark;
}

.product-selection {
    background-color: $blueDark;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;


    h2 {
       margin-top: 80px;
    }
    
    p {
        margin: 18px;
    }

    .br-section3 {
        border-top: 1.5px solid white;
        margin: 12px;
    }
    
    .form-group {
        margin: 12px;
    }
    
    .form-group select {
        width: 100%;
        padding: 12px;
        margin-top: 10px;
        margin-bottom: 15px;
        // Font Colors
        background-color: darkgrey;
        color: #505050;
        font-weight: 500;
        -webkit-appearance: none;
        -moz-appearance: none;
        //hides the arrow buttons for stylization
        appearance: none;
    }

    .form-group label {
        margin-top: 10px;
    }

    // Arrow for Select options
    .form-group {
        .form-row1:after, 
        .form-row2:after, 
        .form-row3:after, 
        .form-row4:after, 
        .form-row5:after {
            content: "";

            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 8px solid #505050; 
            position: relative;
            right: 25px;
            top: 15px;

            pointer-events: none;
        }
    }


    // The background color of the form when the user clicks 
    select:active,
    select:focus {
        background-color: white;
    }

    .section3-button {
       background-color: #429bd6;
       border: none;
       color:white;
       margin-left: auto;
       margin-right: auto;
       padding: 10px;
       margin-top: 40px;
       text-transform: uppercase;
       display: block;
       width: 95%;
       letter-spacing: -0.75px;
       font-weight: 500;
       height: 50px;
    }

    // two forms per line, one form on last line
    @media (min-width: 850px) {

        .product-selection {
            .section-3-header h2 {
                margin-top: 0px;
                padding-top: 0px;
            }
        }

        // Arrow for Select options
        .form-group {
            .form-row1:after, 
            .form-row2:after, 
            .form-row3:after, 
            .form-row4:after, 
            .form-row5:after {
                content: "";

                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 12px solid $blueMedium; 
                position: relative;
                right: 25px;
                top: 17px;

                pointer-events: none;
            }
        }

        .form-group {
            
            .product-row-1 {
                display: flex;
                justify-content: space-between;

                .form-row1, 
                .form-row2 {
                    width: 49.301%;
                }
            }

            .product-row-2 {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;

                .form-row3, 
                .form-row4 {
                    width: 49.301%;
                }
            }

            .product-row-3 {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;

                .form-row5 {
                    width: 49.301%;
                }
            }
        }
    }
    
    // --------------------------------------------------
    // all forms on one line
    @media (min-width: $desktopRegular) {
        .form-group {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .product-row-1 {
                .form-row1 {
                    margin-right: 1%;
                    width: 215px;
                }
                .form-row2 {
                    width: 215px;
                }
            }

            .product-row-2 {
                margin-top: 0px;
                .form-row3 {
                    margin-right: 1%;
                    width: 215px;
                }
                .form-row4 {
                    width: 215px;
                }
            }

            .product-row-3 {
                margin-top: 0px;
                .form-row5 {
                    width: 215px;
                }
            }
        }
        
    }

    @media (min-width: 1200px) {
        .form-group {
            .product-row-1 {
                .form-row1 {
                    margin-right: 1%;
                    width: 230px;
                }
                .form-row2 {
                    width: 230px;
                }
            }

            .product-row-2 {
                margin-top: 0px;
                .form-row3 {
                    margin-right: 1%;
                    width: 230px;
                }
                .form-row4 {
                    width: 230px;
                }
            }

            .product-row-3 {
                margin-top: 0px;
                .form-row5 {
                    width: 230px;
                }
            }
        }
        
    }

    @media (min-width: 1300px) {
        .form-group {
            .product-row-1 {
                .form-row1 {
                    margin-right: 2%;
                    width: 250px;
                }
                .form-row2 {
                    width: 250px;
                }
            }

            .product-row-2 {
                margin-top: 0px;
                .form-row3 {
                    margin-right: 2%;
                    width: 250px;
                }
                .form-row4 {
                    width: 250px;
                }
            }

            .product-row-3 {
                margin-top: 0px;
                .form-row5 {
                    width: 250px;
                }
            }
        }
        
    }

    @media (min-width: 1400px) {
        .form-group {
            .product-row-1 {
                .form-row1 {
                    margin-right: 2.5%;
                    width: 280px;
                }
                .form-row2 {
                    width: 280px;
                }
            }

            .product-row-2 {
                margin-top: 0px;
                .form-row3 {
                    margin-right: 2.5%;
                    width: 280px;
                }
                .form-row4 {
                    width: 280px;
                }
            }

            .product-row-3 {
                margin-top: 0px;
                .form-row5 {
                    width: 280px;
                }
            }
        }
        
    }
}

