// Navigation Style Sheet
// Nav Styling (Responsive Menus / Dropdown Menu)
nav {
    //display: none;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}

nav.activated {
    transition: height 0.3s ease, visibility 0s 0.3s;
}

.show nav {
    transition: height 0.3s ease, visibility 0s;
    visibility: visible;
    height: 253px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    padding-left: 19px;
    font-size: 1.2em;
    display: block; 
    //border-right: none;
    color: white;
    text-transform: uppercase;
    //border-bottom: none;
    //border-top: 2px solid $navBarHover;
    line-height: 31.5px;
}

// Hover States for Nav
nav a:hover,
nav a:active,
nav a:focus {
    outline: none;
    background-color: $navBarHover;
}


// Hamburger Styles for Nav
.btn-menu {
    //margin: 0 20px 20px 0;
    display: block;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn-menu .button-content {
    display: block;
    height: 24px;
    cursor: pointer;
}

.btn-menu .text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

// Middle Bar
.btn-menu .bar {
    display: block;
    height: 3.5px;
    background-color: white;
    width: 100%;
    position: relative;
    top: 10px;
    transition: all 0.3s ease-in-out;
}

// Bottom Bar
.btn-menu .bar:before {
    content: "";
    width: 100%;
    height: 3.5px;
    top: 10px;
    left: 0;
    background-color: white;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

// Top Bar
.btn-menu .bar:after {
    content: "";
    width: 100%;
    height: 3.5px;
    top: -10px;
    left: 0;
    background-color: white;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.btn-menu:focus {
    outline: none;
}

.btn-menu:focus .button-content {
    outline: 10px solid $navBarHover;
}

.show .btn-menu .bar {
    background-color: transparent;
}

// Controls the degree of "X" when clicked on for hamburger menu
.show .btn-menu .bar:before {
    top: 0;
    transform: rotate(45deg);
}

.show .btn-menu .bar:after {
    top: 0;
    transform: rotate(-45deg);
}

/* 
---------------------------------------
Media Query
---------------------------------------
*/
/*--- Mobile ---*/
@media (min-width: $tabletMedium) {
    

}


/*--- Tablet ---*/
@media (min-width: $desktopSmall) {
    header {
        display: block;
    }

    .btn-menu {
        display: none;
    }

    nav {
        background-color: transparent;
        visibility: visible;
        height: auto;
    }

    nav ul {
        display: flex;
    }

    nav li {
        flex: 1;
    }

    nav a {
        text-decoration: none;
        line-height: 42px;
        text-align: center;
    }

    nav li:last-child a {
        border-right: none;
    }

    nav a:hover,
    nav a:active,
    nav a:focus {
        background-color: transparent;
        outline: none;
    } 

}

/*--- Desktop ---*/
@media (min-width: 1000px) {

}


